        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }

        .logoIFNMG {
            width: 80px;
            margin-right: 30px;
        }
/* Adicione isso ao seu style.css */

nav ul li a {
    text-decoration: none;
    font-size: 22px;
    position: relative;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    position: relative;
}
a {
    color: #007BFF;
    transition: color 0.3s 
ease-in-out;
}